extends ./layout/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura 

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, pariatur laboriosam ut magnam repudiandae ipsum, voluptas soluta sit aliquid ducimus perspiciatis sed officia maiores reprehenderit beatae nostrum ipsam vitae doloremque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugit repudiandae culpa rerum nihil expedita doloribus possimus asperiores quaerat perferendis distinctio tempora id vel, maiores, ut quidem dolorum dicta laboriosam.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="img nosotros", class='img-fluid')
        include ./layout/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2025 - 28 de Marzo de 2025
                        p.precio $2500 USD 
    .container
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales
