extends ./layout/index

block contenido 
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="img sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus laoreet sem vel gravida. Aenean molestie accumsan erat, vitae tincidunt eros semper quis. Aliquam condimentum sem nec nulla hendrerit, non dictum magna fermentum. Phasellus tincidunt id mi ac vehicula. Vivamus maximus lorem ut ante facilisis fermentum.

                p Etiam in interdum nunc. Cras posuere diam sit amet blandit faucibus. Curabitur laoreet ex a hendrerit efficitur. Sed elementum massa at libero sollicitudin, tempor molestie velit cursus. Integer a finibus est. Etiam tristique, lectus et cursus imperdiet, ante risus blandit augue, ac mollis enim orci in ante. Phasellus malesuada a ligula et auctor. 

                p Proin at nulla odio. Quisque varius at ipsum eu viverra. Cras eget aliquam diam. Cras fermentum massa efficitur lectus euismod, non lacinia augue pretium. Nulla at metus magna. Aliquam neque neque, imperdiet vitae est vel, volutpat imperdiet urna. Sed euismod, turpis eget rhoncus convallis, ligula ante auctor libero, vitae porttitor ipsum erat eget metus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="image-fluid mb-4")
                    h2.mb4 Seguridad 
                    p Proin at nulla odio. Quisque varius at ipsum eu viverra. Cras eget aliquam diam. Cras fermentum massa efficitur lectus euismod, non lacinia augue pretium. Nulla at metus magna.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="image-fluid mb-4")
                    h2.mb4 Mejores Destinos 
                    p Proin at nulla odio. Quisque varius at ipsum eu viverra. Cras eget aliquam diam. Cras fermentum massa efficitur lectus euismod, non lacinia augue pretium. Nulla at metus magna.
                .col-md-4
                    img(src="img/icono_precios.svg", class="image-fluid mb-4")
                    h2.mb4 Los Mejores Precios 
                    p Proin at nulla odio. Quisque varius at ipsum eu viverra. Cras eget aliquam diam. Cras fermentum massa efficitur lectus euismod, non lacinia augue pretium. Nulla at metus magna.
            